extends layout

block style
    style.
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        form button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }

        #map {
            height: 400px;
            width: 100%;
        }

block content

    #map

    ul#messages
    form(action='')
        input#m(autocomplete="off")
        button Send


block script
    #user_name=user.username
    #user_list=user_list
    script(src="http://code.jquery.com/jquery-3.2.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
    script(async='', defer = '', src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBtNQ3rNUC9SS_5z3sdzHZz7ndGrgXIxBM&callback=initMap')

    script.
        var socket=io()
        var user_color=getRandomColor();
        $('form').submit(function () {

            socket.emit('chat',
                {text:$('#m').val(),
                color:user_color}
                );
            $('#m').val('');
            return false;

        })
        socket.on('chat broadcast', function (input) {
            txt=input.text;
            color=input.color;
            var msg=$('#user_name').text()+": "+txt;
            $('#messages').append($('<li>').text(msg).css('color',color));
        })


        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 6
            });
            var infoWindow = new google.maps.InfoWindow({map: map});

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    map.setCenter(pos);

                    var u;
                    var ulist=$('#user_list');
                    for (u in ulist){
                        photo=u.photo;
                        online=u.online;
                        console.log(u.username);
                    }

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }
        script(async = '', defer = '', src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBtNQ3rNUC9SS_5z3sdzHZz7ndGrgXIxBM&callback=initMap')

//        window.eqfeed_callback = function (results) {
//            for (var i = 0; i < results.features.length; i++) {
//                var coords = results.features[i].geometry.coordinates;
//                var latLng = new google.maps.LatLng(coords[1], coords[0]);
//                var marker = new google.maps.Marker({
//                    position: latLng,
//                    map: map
//                });
//            }
//        }




